controller_manager:
  ros__parameters:
    update_rate: 10  # Hz

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController

    gripper_controller:
      type: joint_trajectory_controller/JointTrajectoryController

arm_controller:
  ros__parameters:
    joints:
      - joint2_to_joint1
      - joint3_to_joint2
      - joint4_to_joint3
      - joint5_to_joint4
      - joint6_to_joint5
      - joint6output_to_joint6
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity

    gains:
      joint2_to_joint1: {p: 10000.0, i: 10.0, d: 50.0}
      joint3_to_joint2: {p: 10000.0, i: 10.0, d: 50.0}
      joint4_to_joint3: {p: 8000.0,  i: 10.0, d: 30.0}
      joint5_to_joint4: {p: 5000.0,  i: 10.0, d: 10.0}
      joint6_to_joint5: {p: 5000.0,  i: 10.0, d: 5.0}
      joint6output_to_joint6: {p: 300.0, i: 0.0, d: 2.0}
    # state_publish_rate: 100.0
    # action_monitor_rate: 20.0
    # allow_partial_joints_goal: false
    # constraints:
    #   stopped_velocity_tolerance: 0.01
    #   goal_time: 0.0

gripper_controller:
  ros__parameters:
    joints:
      - gripper_controllable_joint
    command_interfaces:
      - position
    state_interfaces:
      - position
      - velocity
    # state_publish_rate: 100.0
    # action_monitor_rate: 20.0
    # allow_partial_joints_goal: false
