<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="erobotics_myCobot280_arduino">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import erobotics_myCobot280_arduino urdf file -->
    <xacro:include filename="$(find erobotics_description)/urdf/mycobot_280_arduino.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="erobotics_myCobot280_arduino.ros2_control.xacro" />


    <xacro:erobotics_myCobot280_arduino_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
